@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width; charset=iso-8859-1" />
    <link href="~/css/ENT0701.css" rel="stylesheet" type="text/css" />
    <title></title>
</head>
<body>
    <div class="portada">
        <h3>ENT0701 - Proyecto Razor y Entity Framework</h3>
        <h1>Web de Alquiler de Coches</h1>
    </div>
</body>
</html>
